@import "tailwindcss";

html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.theme-text-color {
  color: #0A4451;
}

.theme-bg-color {
  background-color: #0A4451;
}

.secondary-theme-bg-color {
  background-color: #00CBE1;
}

.secondary-theme-text-color {
  color: #00CBE1;
}
